/* ( 크롬, 사파리, 오페라, 엣지 ) 동작 */
html::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none;
  /* 인터넷 익스플로러 */
  scrollbar-width: none;
  /* 파이어폭스 */
}

html,
body {
  position: relative;
}

body {
  margin: 0;
  padding: 0;
}

/* default Page */

.left-sidebar {
  display: none !important;
}

.body .content-wrapper {
  grid-template-columns: none !important;
}

@media screen and (min-width: 1024px) {
  .body .content-wrapper {
    max-width: 800px !important;
  }
}

/* userscript-nav-btn */

ul.userscript-nav {
  border-right: 1px solid white;
}

li.userscript-nav-item > a {
  margin-right: 0.5rem;
}

/* disable */

.ui-dialog {
  z-index: 9997 !important;
}

.blur {
  filter: none !important;
}

.spoiler-filter {
  filter: none !important;
}

.body .board-article {
  min-height: 0px !important;
  padding-bottom: 10px;
  background-color: var(--color-bg-main);
}

#comment > .title {
  border-top: none !important;
}

.included-article-list {
  border-top: none !important;
  margin-top: 0px !important;
}

/* root container */

.root-container .content-wrapper article {
  width: 100% !important;
  height: fit-content !important;
}

.content-wrapper::after {
  content: none !important;
}

/* temp */

.nav-control {
  display: none !important;
}
