/* ( 크롬, 사파리, 오페라, 엣지 ) 동작 */
html::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none;
  /* 인터넷 익스플로러 */
  scrollbar-width: none;
  /* 파이어폭스 */
}

html,
body {
  position: relative;
}

body {
  margin: 0;
  padding: 0;
}

/* default Page */

.left-ad-area {
  display: none !important;
}

.body .content-wrapper {
  grid-template-columns: none !important;
}

@media screen and (min-width: 1024px) {
  .body .content-wrapper {
    max-width: 800px !important;
  }
}

/* userscript-nav-btn */

ul.userscript-nav {
  border-right: 1px solid var(--color-text);
}

li.userscript-nav-item > a {
  margin-right: 0.5rem;
}

/* disable */

.ui-dialog {
  z-index: 9997 !important;
}

.blur {
  filter: none !important;
}

.spoiler-filter {
  filter: none !important;
}

.body .board-article {
  min-height: 0px !important;
  padding-bottom: 10px;
  background-color: var(--color-bg-main);
}

.board-relay {
  display: none !important;
}

#comment > .title {
  border-top: none !important;
}

.included-article-list {
  border-top: none !important;
  margin-top: 0px !important;
}

.nav-control {
  display: none !important;
}

/* swiper */

.swiper {
  overflow: clip;
}

.swiper-wrapper {
  align-items: flex-start;
}

.swiper-slide {
  outline: none;
}

.slide-empty {
  position: sticky;
  height: 100vh;
  top: 0;
  align-self: flex-start;
}

.loader-container {
  position: relative;
  top: calc(50% - 25px);
  width: 50px;
  margin: auto;
}

.custom-loader {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 8px solid;
  border-color: #e4e4ed;
  border-right-color: #766df4;
  animation: s2 1s infinite linear;
}

@keyframes s2 {
  to {
    transform: rotate(1turn);
  }
}

/* root container */

.root-container .content-wrapper article {
  width: 100% !important;
  height: fit-content !important;
}

.content-wrapper::after {
  content: none !important;
}

.swiper-slide
  .root-container
  .content-wrapper
  article
  .article-view
  > .btns-board,
.swiper-slide
  .root-container
  .content-wrapper
  article
  .article-view
  > .clearfix,
.swiper-slide
  .root-container
  .content-wrapper
  article
  .article-view
  > .included-article-list {
  display: none !important;
}

/* modal */

.helper-modal {
  position: fixed;

  display: flex;

  justify-content: center;
  align-items: center;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.4);
  z-index: 9999999;
}

.helper-modal-body {
  width: 400px;
  height: fit-content;

  padding: 20px;

  background-color: var(--color-bg-main);
  border-radius: 10px;
}

.helper-modal-body > div {
  border-bottom: 1px solid #ddd;
  margin: 5px 1px 0px 1px;
  padding-bottom: 5px;
}

.f-right {
  text-align: right;
}

.helper-modal-btns .button {
  border: none;
  width: 50px;
  padding: 5px 8px 5px 8px;

  cursor: pointer;
  border-radius: 5px;

  background-color: var(--color-bd-btn);
  color: var(--color-text-opposite);
}

.helper-modal-btns .button:hover {
  background-color: var(--color-bd-btn-hover);
  color: var(--color-text);
}

/* category-input */

#category {
  padding-bottom: 0px;
}

.category-span {
  display: inline-block;
  padding: 5px 8px 5px 8px;
  margin: 3px;
  border-radius: 10px;

  background-color: var(--color-bd-opposite);
  color: var(--color-text-opposite);
}

.category-check {
  display: none;
}

.category-check:checked + span {
  background-color: var(--color-bd-btn-hover);
  color: var(--color-text);
}

/* modal input */

.exclude-title-input-wrapper {
  display: inline;
}

#exclude-title {
  width: 84%;
  outline: none;
}

/* No Twitter iframe */

iframe {
  display: none;
}
