/* ( 크롬, 사파리, 오페라, 엣지 ) 동작 */
html::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none;
  /* 인터넷 익스플로러 */
  scrollbar-width: none;
  /* 파이어폭스 */
}

html,
body {
  position: relative;
}

body {
  margin: 0;
  padding: 0;
}

/* default Page */

.left-sidebar {
  display: none !important;
}

.body .content-wrapper {
  grid-template-columns: none !important;
}

@media screen and (min-width: 1024px) {
  .body .content-wrapper {
    max-width: 800px !important;
  }
}

/* userscript-nav-btn */

ul.userscript-nav {
  border-right: 1px solid white;
}

li.userscript-nav-item > a {
  margin-right: 0.5rem;
}

/* disable */

.ui-dialog {
  z-index: 9997 !important;
}

.blur {
  filter: none !important;
}

.spoiler-filter {
  filter: none !important;
}

.body .board-article {
  min-height: 0px !important;
  padding-bottom: 10px;
  background-color: var(--color-bg-main);
}

#comment > .title {
  border-top: none !important;
}

.included-article-list {
  border-top: none !important;
  margin-top: 0px !important;
}

/* swiper */

.swiper {
  overflow: clip;
}

.swiper-wrapper {
  align-items: flex-start;
}

.swiper-slide {
  outline: none;
}

.slide-empty {
  position: sticky;
  height: 100vh;
  top: 0;
  align-self: flex-start;
}

.loader-container {
  position: relative;
  top: calc(50% - 25px);
  width: 50px;
  margin: auto;
}

.custom-loader {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 8px solid;
  border-color: #e4e4ed;
  border-right-color: #766df4;
  animation: s2 1s infinite linear;
}

@keyframes s2 {
  to {
    transform: rotate(1turn);
  }
}

/* root container */

.root-container .content-wrapper article {
  width: 100% !important;
  height: fit-content !important;
}

.content-wrapper::after {
  content: none !important;
}

/* modal body */

.helper-modal {
  position: fixed;

  display: flex;

  justify-content: center;
  align-items: center;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.4);
  z-index: 9999999;
}

.helper-modal-body {
  width: 400px;
  height: fit-content;

  background-color: var(--color-bg-body);

  border: 1px solid var(--color-bd-btn);
  border-radius: 10px;
}

/* modal header */

label.helper-modal-tab-label {
  padding: 2px 20px;
  margin-bottom: 0px;

  background-color: var(--color-bg-body);
  color: var(--color-text);
}

input.helper-modal-tab-radio {
  display: none;
}

#filter + label {
  border-radius: 8px 0px 0px 0px;
}

#filter:checked + label.helper-modal-tab-label,
#ui:checked + label.helper-modal-tab-label {
  background-color: var(--color-bg-main);
  color: var(--color-text);
}

#filter:checked ~ .helper-modal-filter,
#ui:checked ~ .helper-modal-ui {
  display: block;
}

.helper-modal-tab {
  padding: 15px 20px 20px 20px;
  border-radius: 0px 0px 10px 10px;

  display: none;
  background-color: var(--color-bg-main);
}

/* modal filter */

.helper-modal-filter > div {
  border-bottom: 1px solid #ddd;
  margin: 0px 1px 5px 1px;
  padding: 0px 1px 5px 1px;
}

.f-right {
  text-align: right;
}

.helper-modal-btns .button {
  border: none;
  width: 50px;
  padding: 5px 8px 5px 8px;

  cursor: pointer;
  border-radius: 5px;

  background-color: var(--color-bd-btn);
  color: var(--color-text-opposite);
}

.helper-modal-btns .button:hover {
  background-color: var(--color-bd-btn-hover);
  color: var(--color-text);
}

/* category-input */

#category {
  padding-bottom: 0px;
}

.category-span {
  display: inline-block;

  margin: 3px;
  padding: 5px 8px 5px 8px;

  border-radius: 10px;

  background-color: var(--color-bd-opposite);
  color: var(--color-text-opposite);
}

input.category-check {
  display: none;
}

input.category-check:checked + span {
  background-color: var(--color-bd-btn-hover);
  color: var(--color-text);
}

/* modal input */

.exclude-title-input-wrapper {
  display: inline;
}

#exclude-title {
  width: 84%;
  outline: none;
}

/* exclude title tags */

input.ele-exclude {
  display: none;
}

span.exclude-title-tag {
  display: inline-block;
  padding: 5px 8px 5px 8px;
  margin: 3px;
  border-radius: 10px;

  background-color: var(--color-link-broken);
  color: var(--color-text-opposite);
  cursor: pointer;
}

span.exclude-title-tag:after {
  display: inline-block;
  content: '\00d7';
}

div.exclude-title-list:not(:has(> label)) {
  border-bottom: none;
  margin: 0px;
  padding: 0px;
}

/* series */

.series-control-btns {
  display: flex;
  justify-content: space-around;
}

.series-control-btn {
  cursor: pointer;
  border-radius: 5px;

  padding: 5px;
}

.series-control-btn.enable-series {
  background-color: var(--color-primary-theme);
}

.series-control-btn.disable-series {
  background-color: var(--color-link-broken);
}

/* temp */

.nav-control {
  display: none !important;
}
