/* ( 크롬, 사파리, 오페라, 엣지 ) 동작 */
html::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none;
  /* 인터넷 익스플로러 */
  scrollbar-width: none;
  /* 파이어폭스 */
}

html,
body {
  position: relative;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

/* default Page */

.body .content-wrapper {
  grid-template-columns: none !important;
}

@media screen and (min-width: 1024px) {
  .body .content-wrapper {
    max-width: 800px !important;
  }
}

/* helper-btn */

.btn-wrapper {
  position: fixed;
  display: flex;
  flex-direction: column;
  bottom: 3rem;
  z-index: 9995;
}

.btn-wrapper.right {
  right: 1rem;
}

.btn-wrapper.left {
  left: 1rem;
}

.helper-btn {
  border-radius: 999px;
  opacity: 0.7;
  background-color: #3d414d;
  width: 2.7rem;
  height: 2.7rem;
  margin-right: 0.2rem;
  margin-top: 0.5rem;
  float: right;
}

.helper-btn span {
  font-size: 1.6rem;
  line-height: 1.8;
  text-align: center;
  color: #fff;
  cursor: pointer;
  width: 2.7rem;
  height: 2.7rem;
  display: inline-block;
}

/* disable */

.ui-dialog {
  z-index: 9997 !important;
}

.blur {
  filter: none !important;
}

.spoiler-filter {
  filter: none !important;
}

.body .board-article {
  min-height: 0px !important;
  padding-bottom: 10px;
}

.board-relay {
  display: none !important;
}

#comment > .title {
  border-top: none !important;
}

.included-article-list {
  border-top: none !important;
  margin-top: 0px !important;
}

.nav-control {
  display: none !important;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-wrapper {
  height: 100%;
}

.swiper-slide {
  height: 100%;
  width: 100%;
  min-height: 100%;
  overflow-y: scroll;
  background-color: var(--color-bg-main);
}

.slide-empty {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.loader-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.custom-loader {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 8px solid;
  border-color: #e4e4ed;
  border-right-color: #766df4;
  animation: s2 1s infinite linear;
}

@keyframes s2 {
  to {
    transform: rotate(1turn);
  }
}

.loading-info {
  margin-top: 10px;
}

.loading-info > div {
  text-align: center;
  font-size: 14px;
  color: var(--color-text);
}

.loader-container + div {
  display: none;
}

div.root-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100%;
}

.root-container .content-wrapper {
  display: flex;
  flex-direction: column;
  width: 100% !important;
}

.root-container .content-wrapper article {
  width: 100% !important;
  height: fit-content !important;
}

.content-wrapper::after {
  content: none !important;
}

/* modal */

.helper-modal {
  position: fixed;

  display: flex;

  justify-content: center;
  align-items: center;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.4);
  z-index: 9999999;
}

.helper-modal-body {
  width: 400px;
  height: fit-content;

  padding: 20px;

  background-color: var(--color-bg-main);
  border-radius: 10px;
}

.helper-modal-body > div {
  border-bottom: 1px solid #ddd;
  margin: 5px 1px;
}

.helper-modal-btns {
  text-align: right;
}

.helper-modal-btns .button {
  border: none;
  width: 50px;
  padding: 5px 8px 5px 8px;

  cursor: pointer;
  border-radius: 5px;

  background-color: var(--color-bd-btn);
  color: var(--color-text-opposite);
}

.helper-modal-btns .button:hover {
  background-color: var(--color-bd-btn-hover);
  color: var(--color-text);
}

/* category-input */

.category-span {
  display: inline-block;
  padding: 5px 8px 5px 8px;
  margin: 3px;
  border-radius: 10px;

  background-color: var(--color-bd-opposite);
  color: var(--color-text-opposite);
}

.category-check {
  display: none;
}

.category-check:checked + span {
  background-color: var(--color-bd-btn-hover);
  color: var(--color-text);
}

/* console */

#console {
  z-index: 9999;
  position: fixed;
  top: 10px;
  width: 100%;
  height: 250px;
  background: white;
  border: 2px solid black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#console > textarea {
  color: var(--color-text);
}
