/* modal body */

.helper-modal {
  position: fixed;

  display: flex;

  justify-content: center;
  align-items: center;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.4);
  z-index: 9999999;
}

.helper-modal-body {
  width: 400px;
  height: fit-content;

  background-color: var(--color-bg-body);

  border: 1px solid var(--color-bd-btn);
  border-radius: 10px;
}

/* modal header */

label.helper-modal-tab-label {
  padding: 2px 20px;
  margin-bottom: 0px;

  background-color: var(--color-bg-body);
  color: var(--color-text);
}

input.helper-modal-tab-radio {
  display: none;
}

#filter + label {
  border-radius: 8px 0px 0px 0px;
}

#filter:checked + label.helper-modal-tab-label,
#ui:checked + label.helper-modal-tab-label {
  background-color: var(--color-bg-main);
  color: var(--color-text);
}

#filter:checked ~ .helper-modal-filter,
#ui:checked ~ .helper-modal-ui {
  display: block;
}

.helper-modal-tab {
  padding: 15px 20px 20px 20px;
  border-radius: 0px 0px 10px 10px;

  display: none;
  background-color: var(--color-bg-main);
}
