/* ( 크롬, 사파리, 오페라, 엣지 ) 동작 */
html::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none;
  /* 인터넷 익스플로러 */
  scrollbar-width: none;
  /* 파이어폭스 */
}

html,
body {
  position: relative;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

.body .content-wrapper {
  grid-template-columns: none !important;
}

@media screen and (min-width: 1024px) {
  .body .content-wrapper {
    max-width: 800px !important;
  }

  .sidebar {
    display: none !important;
  }
}

.next-btn {
  position: fixed;
  right: 1rem;
  bottom: 45%;
  z-index: 9998;
}

.prev-btn {
  position: fixed;
  left: 1rem;
  bottom: 45%;
  z-index: 9998;
}

.page-btn {
  opacity: 0.3 !important;
}

.btn-wrapper {
  position: fixed;
  display: flex;
  flex-direction: column;
  bottom: 3rem;
  z-index: 9999;
}

.btn-wrapper.right {
  right: 1rem;
}

.btn-wrapper.left {
  left: 1rem;
}

.helper-btn {
  border-radius: 999px;
  opacity: 0.7;
  background-color: #3d414d;
  width: 2.7rem;
  height: 2.7rem;
  margin-right: 0.2rem;
  margin-top: 0.5rem;
  float: right;
}

.helper-btn span {
  font-size: 1.6rem;
  line-height: 1.8;
  text-align: center;
  color: #fff;
  cursor: pointer;
  width: 2.7rem;
  height: 2.7rem;
  display: inline-block;
}

#category > label > span,
#category-all > label > span {
  display: inline-block;
  background-color: #ddd;
  padding: 5px 8px 5px 8px;
  margin: 3px;
  border-radius: 10px;
}

#category > label > input,
#category-all > label > input {
  display: none;
}

#category > label > input:checked + span,
#category-all > label > input:checked + span {
  background-color: #666;
  color: #fff;
}

.ui-dialog {
  z-index: 9997 !important;
}

.blur {
  filter: none !important;
}

.spoiler-filter {
  filter: none !important;
}

.vrow.column.notice {
  display: none !important;
}

footer {
  display: none !important;
}

.body .board-article {
  min-height: 0px !important;
  padding-bottom: 10px;
}

.board-relay {
  display: none !important;
}

.body .board-article .pagination .page-item {
  display: none;
}

.body .board-article .pagination .page-item.active {
  display: list-item;
}

.body .board-article .pagination .page-item.active + .page-item {
  display: list-item;
}

.body .board-article .pagination .page-item:has(+ .active) {
  display: list-item;
}

.article-info.article-info-section {
  display: none !important;
}

.vcol.col-time,
.vcol.col-view,
.vcol.col-rate {
  display: none !important;
}

.info-row.clearfix > .right {
  display: none !important;
}

#comment > .title {
  border-top: none !important;
}

.included-article-list {
  border-top: none !important;
  margin-top: 0px !important;
}

.nav-control {
  display: none !important;
}

.swiper {
  width: 100%;
  height: 100%;
  background-color: #aaa;
}

.swiper-wrapper {
  height: 100%;
}

.swiper-slide {
  height: 100%;
  width: 100%;
  min-height: 100%;
  overflow-y: scroll;
  background-color: var(--color-bg-main);
}

.slide-empty {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.custom-loader {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 8px solid;
  border-color: #e4e4ed;
  border-right-color: #766df4;
  animation: s2 1s infinite linear;
}

@keyframes s2 {
  to {
    transform: rotate(1turn);
  }
}

.custom-loader + div {
  display: none;
}

div.root-container {
  height: fit-content;
}

.root-container .content-wrapper {
  display: flex !important;
  height: fit-content !important;
}

.root-container .content-wrapper article {
  width: 100% !important;
  height: fit-content !important;
}
